.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif !important;
  
}
html,body{
  font-family: 'Montserrat', sans-serif !important;
  
  
  width: 100%;
    /* height: 100%; */
    margin: 0;
    padding: 0;
    overflow-x: hidden!important;
}
.container{
  max-width: 1400px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/*  swiper for banner*/
/* .swiper {
  width: 100%;
  height: 100%;
} */

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}


.slider-content{
  position: absolute;
  top: 200px;
  width: 100%;
  /* left:10%; */
  color: #fff;
  z-index: 1;
 
}
.searchLeft .form-carousel{
  height: 48px;
  margin: 24px 0;
}
.form-control{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip:padding-box;
  border: none;
  transition: border-color 0.15s ease-in-out,  box-shadow 0.15s ease-in-out;
  
}
.slider-content h1{
  font-size: 48px;
  line-height: 3.5rem;
  font-weight: 700;
}
.search{
  width: 100%;
}
.search .content{
  display: flex;
  justify-content: flex-start;
 

  
  align-items: flex-start;
}
.searchLeft{
  text-align: left;
  flex-basis: 50%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .slick-slider.slick-initialized {
  display: block;
} */
.slick-list{
  padding: 0!important;
}
.slider-package{
 padding: 0 40px;
}
.containerSlider{
  padding: 10px 15px;
}

.slick-slide .slick-active{
  width: 211px;
}

.slick-next:before,.slick-prev:before{
  font-size: 35px !important;
  color: #b5b6ba!important;
}
.itemSlider{
  /* width: 211px !important; */
  display: inline-block;
  padding: 0 10px;
}

.selling li{
  margin: 24px 0;
  text-align: left;
  font-size: 25px;
}
.selling li p{
  color: #000000D9;
  font-size: 15px;
  margin-bottom: 1em;
}

.selling li span{
  font-size: 20px;
  font-weight: bold;
}
.video{
  position: relative;
}
.video .modal-btn::after{
  background: url('https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/desktop-play-button.c1196d6.png') no-repeat;
  background-size: 80px ;
  z-index: 1;
  content: "";
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 45%;
  height: 80px;
  width: 100%;
}

.carousel-container{
  display: flex !important;
  justify-content: space-evenly;
  width: 100%;
  

}

.img-content .load{
  margin-left: 40px !important;
  height: 50px;
  border-left: 1px solid #c5c6c9;
  display: inline-block;
}

/* .img-content img{
  width: 90%;
  height: 100%;
} */

.carousel-content{
  display: flex;
  
}
.carousel-img{
  position: relative;
}

.content-testimonial{
  text-align: left;
  width: 100%;
  color: #003912;
  font-size: 25px;
  font-weight: 500;
}


.carousel-button::after{
  background: url('https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/desktop-play-button.c1196d6.png') no-repeat;
  background-size: 80px ;
  z-index: 2;
  content: "";
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 50%;
  height: 80px;
  width: 100%;
}

.main-categories-img{
  display: block;
    height: 48px;
    margin: 0 auto 15px;
    width: 48px;
}
.categories{
  position: relative;
  display: inline-block;
  text-align: center;
  transition: 0.5s;
  border-bottom: 2px solid #c5c6c9 ;
  width: 48px;
}
/* .categories:not(:hover){
  border-color: #c5c6c9;
} */
.categories::after{
 
  content: "";
  padding: 0 0 8px;
  position: absolute;
  bottom: -1%;
  right: 50%;
  
  transform: translateX(50%);
  
}

.categories:hover{
 border-color: #1dbf73;
width: 80px;
z-index: 4;

}
.card-showpage{
width: 300px;
}
.footer-fiver-title{
  margin-top: 70rem;
  border-top: 1px solid rgba(197, 198, 201, .5);
 
}
.footer-fiver,.footer-bottom{
  border-top: 1px solid rgba(197, 198, 201, .5);
  margin-top: 5rem;
}
.copy-write{
  color: #b5b6ba;
  font-size: 14px;
  
}
.icon-footer{
  color: #74767e;
  font-weight: 600;

}

/* .footer-carousel .sub-content-1::after{
  content: 'Content Marketing';
  color: #b5b6ba;
  display: block;
}

.footer-carousel .sub-content-2::after{
  content: 'Invoice Software';
  color: #b5b6ba;
  display: block;
}
.footer-carousel .sub-content-3::after{
  content: 'Online Courses';
  color: #b5b6ba;
  display: block;
} */
.footer-carousel{
  position: relative;

}
.footer-carousel p::after{
 content: "";
 background: #74767e;
 bottom: 0;
 right: 50%;
 height: 1px;
 position: absolute;
 width: 50%;
 z-index: 1;

}
.footer-carousel p:hover{
  width: 100%;
}
.footer-carousel ul li a{
  position: relative;
  width: 0;
  padding: 5px 0;
  font-size: 14px;
}

.footer-text{
  color: #74767e;
}
.footer-carousel ul li a::after{
  content: "";
  background: #74767e;
  bottom: 0;
  left: 0%;
  height: 1px;
  position: absolute;
  width: 0 ;
  z-index: 1;
  transition: 0.5s;
  
}

.footer-carousel ul li:hover a::after{
  width: 100%;
}

.footer-carousel ul li .sub-chapter::after{
  content: "";
  background: #74767e;
  bottom: 0;
  left: 0%;
  height: 1px;
  position: absolute;
  width: 0 ;
  z-index: 1;
  transition: 0.5s;
}

.footer-carousel ul li .sub-chapter{
  position: relative;
  font-size: 14px;
  padding: 3px 0;
  display: block;
  color:#b5b6ba;
  display:block
}

.footer-carousel ul li .sub-chapter:hover::after{
  width: 100%;
}

/* header */
.header-row .left .nav_icon{
  background: none;
  border: none;
  display: none;
  font-size: 20px;
  margin-right: 15px;
}
svg{
  vertical-align: middle;
  color: #003912;
}

.header-row .right ul li{
  font-size: 16px;
  font-weight: 600;
  margin: 0 10px;
  transition: 0.3s;
}

.right .button-join:hover{
color: #fff!important;
}
.main{
  background-color: initial;
  height: 70px;
  position: fixed;
  z-index: 10001
}

.header-active{
  background-color: initial;
  position: fixed;
  transition: all 0.5s ease;
  z-index: 1000;
  width: 100%;
  border-bottom: 1px solid transparent;
  border-top: none;
}
.item-p{
transition: 0.5s;
}
.header-active .header-row .right ul li:hover, .item-p:hover{
  color: #1dbf73;
}
.header-wrapper{
  width: 100%;
}
.header-row{
  
  height: 80px;
  padding: 0 32px;
  width: 100%;
}
.inp{
  border-radius: 4px 0 0 4px;
  border-right: none;
  border: 1px solid transparent;
  outline: none;
}
.header-search{
  padding-left: 20px;
}

.search-btn{
  background: #1dbf73;
  border: 1px solid transparent;
  border-radius: 0 4px 4px 0;
  color: #fff;
}

.header{
  background-color: #fff;
  position: fixed;
  top: 0;
  transition: all 0.3s ease;
  width: 100%;
  z-index: 1000;
  border-bottom:  1px solid rgba(197, 198, 201, .5);
  
  
}
.header .header-row .right ul li{
  color: #74767e;
  transition: all 0.3s ease;
}
.header .nm .fill-normal{
  fill: #404145!important;
}
.header .header-row .right ul li:hover{
  color:#1dbf73
}

.inp-active{
  border: 1px solid rgb(197, 198, 201);
  border-radius: 4px 0 0 4px;
}
.icon-inactive{
  color: #fff;
  transition: all 0.5s ease;

}
.header-active .header-row .right ul li:hover .icon-inactive{
  color: #1dbf73!important;
}
.icon-active{
  color: #74767e;
  transition: all 0.3s ease;

}
.icon{
  transition: all;
  color: #62646a;
}
.left-show-banner button:hover .icon{
  color:#fff ;
}
.header .header-row .right ul li:hover .icon-active{
  color: #1dbf73!important;
}

/* header item */
.trust-by{
  background-color:#fafafa ;
  max-width: 100%;
  position: relative;
}
.trust-by-content ul li img{
  height: 70px;
}
.trust-by-content ul{
flex-basis: 50%;
}
.trust-by span{
  color: #b5b6ba;
  display: block;
  font-weight: 600;
}
.banner-img{
  min-height: 680px;
  width: 100%;
  object-fit: cover;
}
.bar-icon{
  color: #000;
}
.show-list-item{
  top: 81px;
  background-color: #fff;
  z-index: 50;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgba(197, 198, 201, .5);
  /* flex-wrap: wrap;
  flex-shrink:inherit; */
}
.hide-list-item{
  background: initial;
  transition: all 0.5s ease;
  display: none;

}

.item-list{
  color: #62646a;
}
.job-item-li{
  position: relative;
}
.job-item .job-item-li h1{
  position: relative;
 
}
.item-list .job-item .job-item-li h1:hover::after{
  width: 100%;
  
}
.item-list .job-item .job-item-li h1:after{
  content: "";
  position: absolute;
  height: 1px;
  bottom: 0;
  left: 0;
  width: 0%;
  z-index: 20;
  background-color: #1dbf73;
  transition: all 0.5s ease;
}
.job-item-li .job-detail{
display: none;
transition: all 5s ease!important;
}
.job-item-li:hover .job-detail{
  display: block;
  transition: all 5s ease;
}
.job-detail{
  background: #fff;
  z-index: 10000;
  padding: 20px 30px;
  position: absolute;
  text-align: left;
  width: 15vw;
  box-shadow: 0 1px 3px #dadbdd;
}
.item-list .job-item .job-item-li h1:hover .job-detail{
  display:block ;
}
.show-banner-service{
  border: 1px solid rgba(197, 198, 201, .9);
  padding: 25px 30px;
  color: #404145;
}.ant-switch {
  background-color: #62646a!important;
}
.ant-switch-checked{
  background-color: #1dbf73!important;
}

/* antd detail item showpage */
.show-banner-service{
  font-family: 'Montserrat', sans-serif !important;
}
.button-titlepage{
  transition: 0.1s all;
  background-color: transparent;
  display: block;
  width: 100%;
}
.button-titlepage:hover{
  background-color: #f5f5f5;
}

.ant-card .ant-card-meta-detail .ant-card-meta-title{
  margin-bottom: 0 !important;
  font-size: 20px!important;
  padding-bottom: 1px;
  display: inline;
  position: relative;
  margin-bottom: 5px;
  cursor: pointer;
}
.ant-card-meta-title::after{
  background-color: #003912;
  background-size: 80px;
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  transition: 0.5s ease-in-out;
}

.ant-card .ant-card-meta-detail .ant-card-meta-title:hover::after{
  width: 100%;
}
.ant-card-meta-avatar{
  padding-top: 10px;
}
.ant-card-bordered{
  border: 1px solid rgba(197, 198, 201, .9);
}
.job-description{
  color: #222325;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px;
  font-weight: 500;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}
.job-description:hover{
  color: #1dbf73;
}
.star-icon{
  color: #FFC93C ;
}
.star-rating{
  color: #b5b6ba;
  font-weight: 500;
}

.card-body-item{
 border-bottom:  1px solid rgba(197, 198, 201, .9);
  padding: 24px;
}
.ant-card-body{
  padding: 0!important;
}

.card-footer-item{
 padding: 24px;
}

.heart-icon{
  color: #b5b6ba;
}

.job-price{
  color: #74767e;
  font-size: 10px;
  letter-spacing: .5px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif !important;
  
}
.job-currency{
  color: #404145;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 800;
  line-height: 20px;
  font-size: 18px;
}

.pre-title{
  color: #74767e;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  padding: 12px 16px;
}

.sort-by select{
  border: none;
  color: #222325;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  outline: none;
  padding-right: 15px;
  background-color: transparent;
}
/* .button-hover h2{
  position: relative;
} */

/* titlepage */

.show-title{
  background-color: #0c3b24;
  height: 300px;
  
}
.title-content{
  height: 300px;
  color: #fff;
}
.play-icon{
  color: #fff;
  transition: 0.5s;
}

.title-content button:hover .play-icon{
  color: #222325;
}


.popular-job-item{
  box-shadow: 0 0.14px 2.29266px rgb(0 0 0 / 3%), 0 0.37px 4.42626px rgb(0 0 0 / 5%), 0 3px 7px rgb(0 0 0 /9%);
  padding: 8px 15px;
  border-radius: 10px;
}
.fa-right-icon{
  color: #404145;
}
.popular-content img{
  height: 50px;
  
  
}

.content-item span{
  font-weight: 600;
  color: #404145;
}
.service-tags{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.service-tags span{
background-color: #efeff0;
border-radius: 32px;
color: #74767e;
font-size: 13.5px;
font-weight: 600;
line-height: 1.2;
margin: 0 5px 15px;
padding: 10px 10px;
}
.service-related-title{
  color: #404145;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}
.nav-bar-responsive{
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: left;
  color: #74767e
}

.nav-bar-responsive li{
border-bottom: 1px solid #e4e5e7;
font-size: 24px;
margin-bottom: 16px;
padding-bottom: 20px;

width: 100%;
}

.dropdown-container {
  position: relative;
  display: inline-block;
  width: 200px;
}
.icon-down{
  color: #74767e;
}
.selected-option {
  background-color: #fff;
  color: #333;
  
  cursor: pointer;
  text-align: left;
  border-radius: 5px;

  text-align: left;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #e4e5e7;
    font-size: 24px;
    margin-bottom: 16px;
    padding-bottom: 20px;
    width: 100%;
    font-weight: 700;
    color: #74767e;
}
.dropdown{
  position: relative;
  
}
.selected-option i {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.selected-option:hover i {
  transform: rotate(180deg);
}
.option-chosen{
  font-size: 20px;
  color: #74767e;
  font-weight: 700;
  text-align: left;
}
.options-list {
  position: absolute;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  top: 100%;
  left: 0;
  z-index: 10;
  width: 100%;
  text-align: left;
  font-size: 20px;
  color: #74767e;
  font-weight: 600;
}

.options-list li {
  padding: 10px;
 
  cursor: pointer;
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.options-list li:hover {
  background-color: #f5f5f5;
}
.slides{
  position: relative!important;
 
  
}
.slick-prev{
  left: -2%!important;
  position: absolute;
  top: 50%;
  background: transparent!important;
}
.slick-next{
  right: -2%!important;
  position: absolute;
  top: 50%;
  background: transparent!important;
}
.footer-item h1{
  color: #404145;
}

@media screen and (min-width:250px) and (max-width:800px){
  /* .header-row .right{
    position: absolute;
    /* top: -5%; */
    /* top: 100%;
    left: 0%;
    width: 70%;
   height: 100vh;
    background-color: #fff;
    color: #74767e!important;
    transition: all 0.5s ease; */
  /* } */ 

  html,body{
    width: 100%;
    /* height: 100%; */
    margin: 0;
    padding: 0;
    overflow-x: hidden!important;
  }
  .header-search{
    display: block;
  }
  .header-row{
    padding: 0;
    margin: auto;
  }
  .form-carousel,.popular{
   display: none;
  }
  .search .content{
    display: block;
    margin: auto;
    padding: 0 15px;
  }
  .slider-content{
    left: 0!important;
    top: 150px;
    max-width: 1300px;
  }
  .banner-img{
    min-height: 400px;
  }
  .searchLeft h1{
    font-size: 30px;
  }
  .slides{
    position: relative!important;
    
  }
  .slick-prev{
    left: 0%!important;
    position: absolute;
    top: 50%;
   
  }
  .slick-next{
    right: 2%!important;
    position: absolute;
    top: 50%;
   
  }
  .trust-by-content ul{
    flex-basis: 76%;
    padding-left: 10px;
  }
  .trust-by-content ul li img{
    height: 50px;
  }
  .video img{
    height: 200px;
  }
  .selling li span{
    font-size: 15px;
  }
  .selling li p{
    font-size: 13px;
  }
  .container{
    width: 95%;
  }
  .itemSlider{
    width: 90%!important;
    height: 100%;

  }

  .itemSlider img{
    padding-right:10px;

  }
  .footer-content{
   width: 70%;
   flex-wrap: wrap; 
   justify-content: space-between;
   padding: 7px 10px;
  }
  .main-categories-img{
    width: 30px;
    height: 30px;
  }
  .carousel-container{
    display: block!important;
    width: 80%!important;
    margin: auto;
  }
  .video .modal-btn::after{
    left: 45%;
    background-size: 50px;
  }
  .carousel-button::after{
    background-size: 50px;
    left: 43%;
  }
  .carousel-button img{
    height: 200px;
  }
  .carousel-content, .content-testimonial{
    display: none;
  }
  .footer-content{
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .footer-bottom-container{
    display: block;
    padding: 20px 0;
  }
  .logo_footer svg, .icon-social-media{
    margin:auto;
    display: block;
    margin-bottom: 15px;
  }
  .footer-left, .footer-right{
    display: block;
    padding: 15px 0;
  }
 
}

@media screen and (min-width:800px) and (max-width:1300px){
  html,body{
    width: 100%;
    /* height: 100%; */
    margin: 0;
    padding: 0;
    overflow-x: hidden!important;
  }
  .header-search{
    display: block;
  }
  .container{
    width: 90%;
  }
  .search .content{
    display: block;
    margin: auto;
    padding: 0 15px;
  }
  .slider-content{
    left: 0;
    top: 250px;
    padding-right: 25px;
  }
  .slider-content h1{
    width: 95%;
  }
 
  .form-carousel,.popular{
    display: none;
  }

  .main-categories-img{
    width: 30px;
    height: 30px;
  }
  .carousel-container{
    display: block!important;
    width: 70%!important;
    margin: auto;
  }
  .carousel-button::after{
    background-size: 50px;
    left: 43%;
  }
  .carousel-button img{
    height: 400px;
  }
  .carousel-content, .content-testimonial{
    display: none;
  }
  .support{
    flex-basis: 20%;
  }
}